/* SPDX-License-Identifier: GPL-3.0-or-later */

.wy-side-nav-search {
    background-color: #00a2e2; /* From logo manual */
}
.wy-side-nav-search input[type=text] {
    border-color: #45bfff;
}
.wy-side-nav-search div.version {
    color: hsla(0,0%,100%,0.4);
}
.wy-nav-top {
    background-color: #00a2e2;
}

a {
    color: #00619c;
}
a:hover {
    color: #00a2e2;
}
a:visited {
    color: #00619c;
}
a:visited:hover {
    color: #00a2e2;
}

.wy-menu-vertical p.caption {
    color: #00a2e2;
}

.wy-menu-vertical a, .wy-menu-vertical a:hover, .wy-menu-vertical a:visited,
.wy-menu-vertical a:visited:hover {
    /* This is here so that the a-rules above do not override the menu colors,
     * which should remain grey */
    color: #d9d9d9;
}
