{% from 'macros/common_macros.lua.j2' import modules_load, cache_prefill_config, cache_predict_config %}
{% from 'macros/cache_macros.lua.j2' import prefill_config, predict_config %}

--------------------------------------------------------------------------------
-- CACHE configuration
--------------------------------------------------------------------------------

cache.open({{ cfg.cache.size_max.bytes() }}, 'lmdb://{{ cfg.cache.storage }}')
cache.min_ttl({{ cfg.cache.ttl_min.seconds() }})
cache.max_ttl({{ cfg.cache.ttl_max.seconds() }})
cache.ns_tout({{ cfg.cache.ns_timeout.millis() }})

{% if cfg.cache.prefill %}
-- cache.prefill
{{ modules_load('prefill') }}
{{ prefill_config(cfg.cache.prefill) }}
{% endif %}

{% if cfg.cache.prediction %}
-- cache.prediction
{{ modules_load('predict') }}
{{ predict_config(cfg.cache.prediction) }}
{% endif %}