{% from 'macros/common_macros.lua.j2' import modules_load %}
{% from 'macros/dns64_macros.lua.j2' import dns64_config %}

{% if cfg.dns64 %}
--------------------------------------------------------------------------------
-- DNS64 configuration
--------------------------------------------------------------------------------

{{ modules_load('dns64') }}
{{ dns64_config(cfg.dns64) }}
{% endif %}
