{% from 'macros/common_macros.lua.j2' import boolean, module_loader %}
{% from 'macros/dnssec_macros.lua.j2' import trust_anchors, negative_trust_anchors, trust_anchors_files %}

--------------------------------------------------------------------------------
-- DNSSEC configuration
--------------------------------------------------------------------------------

{% if cfg.dnssec is false %}
-- DNSSEC is disabled
trust_anchors.remove('.')
{% else %}
-- dnssec.trust-anchor-sentinel
{{ module_loader(cfg.dnssec.trust_anchor_sentinel, 'ta_sentinel') }}

-- dnssec.trust-anchor-signal-query
{{ module_loader(cfg.dnssec.trust_anchor_signal_query, 'ta_signal_query') }}

-- dnssec.time-skew-detection
{{ module_loader(cfg.dnssec.time_skew_detection, 'detect_time_skew') }}

-- dnssec.keep-removed
trust_anchors.keep_removed = {{ cfg.dnssec.keep_removed }}

{% if cfg.dnssec.refresh_time %}
-- dnssec.refresh-time
trust_anchors.refresh_time = {{ cfg.dnssec.refresh_time.seconds()|string  }}
{% endif %}

{% if cfg.dnssec.trust_anchors %}
-- dnssec.trust-anchors
{{ trust_anchors(cfg.dnssec.trust_anchors) }}
{% endif %}

{% if cfg.dnssec.negative_trust_anchors %}
-- dnssec.negative-trust-anchors
{{ negative_trust_anchors(cfg.dnssec.negative_trust_anchors) }}
{% endif %}

{% if cfg.dnssec.trust_anchors_files %}
-- dnssec.trust-anchors-files
{{ trust_anchors_files(cfg.dnssec.trust_anchors_files) }}
{% endif %}
{% endif %}