{% from 'macros/forward_macros.lua.j2' import forward %}

{% if cfg.forward %}
--------------------------------------------------------------------------------
-- FORWARD configuration
--------------------------------------------------------------------------------

{% for fwd in cfg.forward %}
{{ forward(fwd) }}
{% endfor %}
{% endif %}
