{% from 'macros/local_data_macros.lua.j2' import local_data_subtree_root %}

{# TODO: implemented all other options/features from local_data_schema #}
{% if cfg.local_data.subtrees -%}
{% for subtree in cfg.local_data.subtrees %}

{% if subtree.roots -%}
{% for root in subtree.roots %}
{{ local_data_subtree_root(subtree.type, root, subtree.tags) }}
{% endfor %}
{%- elif subtree.roots_file -%}
{# TODO: not implemented yet #}
{%- elif subtree.roots_url -%}
{# TODO: not implemented yet #}
{%- endif %}

{% endfor %}
{%- endif %}
