{% from 'macros/common_macros.lua.j2' import boolean, modules_load, module_loader %}
{% from 'macros/logging_macros.lua.j2' import logging_groups, logging_dnstap %}

--------------------------------------------------------------------------------
-- LOGGING configuration
--------------------------------------------------------------------------------

-- logging.level
log_level('{{ cfg.logging.level }}')

-- logging.target
log_target('{{ cfg.logging.target }}')

{% if cfg.logging.groups %}
-- logging.groups
{{ logging_groups(cfg.logging.groups) }}
{% endif %}

-- logging.dnssec-bogus
{{ module_loader(cfg.logging.dnssec_bogus, 'bogus_log') }}

{% if cfg.logging.dnstap -%}
-- logging.dnstap
{{ modules_load('dnstap') }}
{{ logging_dnstap(cfg.logging.dnstap) }}
{%- endif %}

-- logging.debugging.assertion-abort
debugging.assertion_abort = {{ boolean(cfg.logging.debugging.assertion_abort) }}

-- logging.debugging.assertion-fork
debugging.assertion_fork = {{ cfg.logging.debugging.assertion_fork.millis() }}
