{% from 'macros/common_macros.lua.j2' import modules_load %}
{% from 'macros/monitoring_macros.lua.j2' import monitoring_control_socket, monitoring_collect_lazy_statistics, monitoring_collect_statistics %}

--------------------------------------------------------------------------------
-- MONITORING configuration
--------------------------------------------------------------------------------

{{ monitoring_control_socket() }}

{% if cfg.monitoring.enabled == "always" %}
{{ modules_load('stats') }}
{% endif %}

{{ monitoring_collect_lazy_statistics }}

{{ monitoring_collect_statistics }}
