{% from 'macros/common_macros.lua.j2' import boolean, module_loader, modules_load %}
{% from 'macros/options_macros.lua.j2' import option %}

--------------------------------------------------------------------------------
-- OPTIONS configuration
--------------------------------------------------------------------------------

-- options.glue-checking
mode('{{ cfg.options.glue_checking }}')

{% if cfg.options.rebinding_protection %}
-- options.rebinding-protection
{{ modules_load('rebinding < iterate') }}
{% endif %}

{% if cfg.options.violators_workarounds %}
-- options.violators-workarounds
{{ modules_load('workarounds < iterate') }}
{% endif %}

{% if cfg.options.serve_stale %}
-- options.serve-stale
{{ modules_load('serve_stale < cache') }}
{% endif %}

-- options.query-priming
{{ module_loader(cfg.options.priming, 'priming') }}

-- options.time-jump-detection
{{ module_loader(cfg.options.time_jump_detection, 'detect_time_jump') }}

-- options.refuse-no-rd
{{ module_loader(cfg.options.refuse_no_rd, 'refuse_nord') }}

-- options.qname-minimisation
{{ option('NO_MINIMIZE', cfg.options.minimize, true) }}

-- options.query-loopback
{{ option('ALLOW_LOCAL', cfg.options.query_loopback) }}

-- options.reorder-rrset
{{ option('REORDER_RR', cfg.options.reorder_rrset) }}

-- options.query-case-randomization
{{ option('NO_0X20', cfg.options.query_case_randomization) }}