{% if cfg.supervisor.watchdog -%}
-- supervisor.watchdog
modules.load('watchdog')
{% if cfg.supervisor.watchdog.qname and cfg.supervisor.watchdog.qtype -%}
watchdog.config({ qname = '{{ cfg.supervisor.watchdog.qname.punycode() }}', qtype = kres.type.{{ cfg.supervisor.watchdog.qtype }} })
{%- endif %}
{% else %}
modules.unload('watchdog')
{%- endif %}

{% if cfg.server.webmgmt -%}
-- server.webmgmt
modules.load('http')
http.config({tls = {{ 'true' if cfg.server.webmgmt.tls else 'false'}},
{%- if cfg.server.webmgmt.cert_file -%}
    cert = '{{ cfg.server.webmgmt.cert_file }}',
{%- endif -%}
{%- if cfg.server.webmgmt.cert_file -%}
    key = '{{ cfg.server.webmgmt.key_file }}',
{%- endif -%}
}, 'webmgmt')
net.listen(
{%- if cfg.server.webmgmt.unix_socket -%}
    '{{ cfg.server.webmgmt.unix_socket }}',nil,
{%- elif cfg.server.webmgmt.interface -%}
    {%- if cfg.server.webmgmt.interface.addr -%}
        '{{ cfg.server.webmgmt.interface.addr }}',{{ cfg.server.webmgmt.interface.port }},
    {%- elif cfg.server.webmgmt.interface.if_name -%}
        net.{{ cfg.server.webmgmt.interface.if_name }},{{ cfg.server.webmgmt.interface.port }},
    {%- endif -%}
{%- endif -%}
{ kind = 'webmgmt' })
{%- endif %}