-- server.hostname
hostname('{{ cfg.server.hostname }}')

{% if cfg.server.nsid %}
-- server.nsid
modules.load('nsid')
nsid.name('{{ cfg.server.nsid }}_' .. worker.id)
{% endif %}

{% if cfg.server.watchdog -%}
modules.load('watchdog')
watchdog.config({ qname = '{{ cfg.server.watchdog.qname }}', qtype = kres.type.{{ cfg.server.watchdog.qtype }} })
{% else %}
modules.unload('watchdog')
{%- endif %}

{% if cfg.server.webmgmt %}
-- server.webmgmt
modules.load('http')
http.config({
    tls = {{ 'true' if cfg.server.webmgmt.tls else 'false'}},
    {{ "cert = '"+cfg.server.webmgmt.cert_file+"'," if cfg.server.webmgmt.cert_file }}
    {{ "key = '"+cfg.server.webmgmt.key_file+"'," if cfg.server.webmgmt.key_file }}
}, 'webmgmt')
net.listen(
{% if cfg.server.webmgmt.listen.ip %}
    '{{ cfg.server.webmgmt.listen.ip }}',
{% elif cfg.server.webmgmt.listen.unix_socket %}
    '{{ cfg.server.webmgmt.listen.unix_socket }}',
{% elif cfg.server.webmgmt.listen.interface %}
    net.{{ cfg.server.webmgmt.listen.interface }},
{% endif %}
    {{ cfg.server.webmgmt.listen.port|string if cfg.server.webmgmt.listen.port else 'nil' }},
    { kind = 'webmgmt' })
{% endif %}