-- server.hostname
hostname('{{ cfg.server.hostname }}')

{% if cfg.server.nsid %}
-- server.nsid
modules.load('nsid')
nsid.name('{{ cfg.server.nsid }}_' .. worker.id)
{% endif %}

{% if cfg.server.watchdog -%}
-- server.watchdog
modules.load('watchdog')
{% if cfg.server.watchdog.qname and cfg.server.watchdog.qtype -%}
watchdog.config({ qname = '{{ cfg.server.watchdog.qname }}', qtype = kres.type.{{ cfg.server.watchdog.qtype }} })
{%- endif %}
{% else %}
modules.unload('watchdog')
{%- endif %}

{% if cfg.server.webmgmt -%}
-- server.webmgmt
modules.load('http')
http.config({
    tls = {{ 'true' if cfg.server.webmgmt.tls else 'false'}},
    {{ "cert = '"+cfg.server.webmgmt.cert_file+"'," if cfg.server.webmgmt.cert_file }}
    {{ "key = '"+cfg.server.webmgmt.key_file+"'," if cfg.server.webmgmt.key_file }}
}, 'webmgmt')
net.listen(
{%- if cfg.server.webmgmt.unix_socket -%}
    '{{ cfg.server.webmgmt.unix_socket }}',nil,
{%- elif cfg.server.webmgmt.ip_address -%}
    '{{ cfg.server.webmgmt.ip_address.addr }}',{{ cfg.server.webmgmt.ip_address.port }},
{%- elif cfg.server.webmgmt.interface -%}
    net.{{ cfg.server.webmgmt.interface.if_name }},{{ cfg.server.webmgmt.interface.port }},
{%- endif -%}
{ kind = 'webmgmt' })
{%- endif %}