{{ "hints.ttl("+cfg.static_hints.ttl.seconds()|string+")" if cfg.static_hints.ttl }}
hints.use_nodata({{ 'true' if cfg.static_hints.no_data else 'false' }})
{{ "hints.add_hosts()" if cfg.static_hints.etc_hosts }}
{{ "hints.root_file('"+cfg.static_hints.root_hints_file+"')" if cfg.static_hints.root_hints_file }}

{% if cfg.static_hints.hints_files %}
-- static-hints.hints-files
{% for item in cfg.static_hints.hints_files %}
hints.add_hosts('{{ item }}')
{% endfor %}
{% endif %}

{% if cfg.static_hints.root_hints %}
-- static-hints.root-hints
hints.root({
{% for name, addrs in cfg.static_hints.root_hints.items() %}
['{{ name }}'] = {
{% for addr in addrs %}
        '{{ addr }}',
{% endfor %}
    },
{% endfor %}
})
{% endif %}

{% if cfg.static_hints.hints %}
-- static-hints.hints
{% for name, addrs in cfg.static_hints.hints.items() %}
{% for addr in addrs %}
hints.set('{{ name }} {{ addr }}')
{% endfor %}
{% endfor %}
{% endif %}