{% if cfg.supervisor.watchdog -%}
-- supervisor.watchdog
modules.load('watchdog')
{% if cfg.supervisor.watchdog.qname and cfg.supervisor.watchdog.qtype -%}
watchdog.config({ qname = '{{ cfg.supervisor.watchdog.qname.punycode() }}', qtype = kres.type.{{ cfg.supervisor.watchdog.qtype }} })
{%- endif %}
{% else %}
modules.unload('watchdog')
{%- endif %}