{% from 'macros/common_macros.lua.j2' import quotes %}
{% from 'macros/view_macros.lua.j2' import view_insert_action %}

{% if cfg.views %}
--------------------------------------------------------------------------------
-- VIEWS configuration
--------------------------------------------------------------------------------

{% for view in cfg.views %}
{% for subnet in view.subnets %}
{{ view_insert_action(
    subnet, view.dst_subnet, view.protocols,
    view.options, view.tags, view.answer
) }}
{% endfor %}{% endfor %}
{% endif %}
