{% from 'macros/common_macros.lua.j2' import modules_load %}
{% from 'macros/webmgmt_macros.lua.j2' import webmgmt_config, webmgmt_listen %}

{% if cfg.webmgmt -%}
--------------------------------------------------------------------------------
-- WEBMGMT configuration
--------------------------------------------------------------------------------

{{ modules_load('http') }}
{{ webmgmt_config(cfg.webmgmt) }}
{{ webmgmt_listen(cfg.webmgmt) }}
{%- endif %}