*.o
*.a
*.so
*.so.*
*.dylib
*.dylib.*
*.lo
*.la
*.in
*.Plo
*.swp
*.d
.dirstamp
.libs
.deps
autom4te.cache/*
config.log
config.h
config.status
configure
ar-lib
libtool
missing
compile
depcomp
install-sh
stamp-h1
