image: cznic/ubuntu:16.04

variables:
  DEBIAN_FRONTEND: noninteractive
  LC_ALL: C.UTF-8
  GIT_SUBMODULE_STRATEGY: recursive

build:linux:amd64:
  stage: build
  script:
    - PREFIX=$(pwd)/.local make -k all
    - PREFIX=$(pwd)/.local make install
  artifacts:
    untracked: true
  tags:
    - docker
    - linux
    - amd64

test:linux:amd64:
  stage: test
  script:
    - PREFIX=$(pwd)/.local make -k check
  dependencies:
    - build:linux:amd64
  tags:
    - docker
    - linux
    - amd64

deckard:linux:amd64:
  stage: test
  script:
    - apt purge -y python-dnspython python3-dnspython
    - apt update
    - apt install -y python3-jinja2 python3-pip python3-yaml libffi-dev libaugeas-dev
    - pip3 install --upgrade pip
    - pip3 install --user dnspython python-augeas
    - PREFIX=$(pwd)/.local MAKEFLAGS="--jobs $(nproc) --keep-going" make check-integration
  dependencies:
    - build:linux:amd64
  tags:
    - docker
    - linux
    - amd64

respdiff:linux:amd64:
  image: cznic/ubuntu-respdif:16.04
  stage: test
  script:
    - PREFIX=$(pwd)/.local ./ci/respdiff/start-resolvers.sh
    - ./ci/respdiff/run-respdiff-tests.sh
    - cat ./results/respdiff.txt
    - echo 'test if mismatch rate >= 1 %'
    - grep -q '^target diagrees.*0\.[0-9][0-9] %' ./results/respdiff.txt
  artifacts:
    when: always
    expire_in: '1 week'
    paths:
      - results/*.txt
  tags:
    - docker
    - linux
    - amd64
  dependencies:
    - build:linux:amd64

#arm_build:
#  image: cznic/armhf-ubuntu:16.04
#  stage: build
#  script:
#    - make -k all
#  tags:
#    - docker
#    - linux
#    - arm

#arm_test:
#  image: armv7/armhf-ubuntu:16.04
#  stage: test
#  script:
#    - make -k check
#  tags:
#    - docker
#    - linux
#    - arm
