*.6
*.Plo
*.a
*.db
*.dylib
*.dylib.*
*.gcda
*.gcno
*.gcov
*.info
*.la
*.lo
*.log
*.mdb
*.o
*.out
*.so
*.so.*
*.swp
*~
.cache
.deps
.dirstamp
.libs
.pytest_cache
/.build-depend
/aclocal.m4
/ar-lib
/autom4te.cache/*
/bench/bench_lru
/build*
/client/kresc
/compile
/compile_commands.json
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/control
/coverage
/coverage.stats
/daemon/kresd
/daemon/lua/*.inc
/daemon/lua/trust_anchors.lua
/depcomp
/distro/tests/*/.vagrant
/doc/.doctrees
/doc/doxyxml
/doc/html
/doc/kresd.8
/doc/texinfo
/ephemeral_key.pem
/install-sh
/libkres.pc
/libtool
/ltmain.sh
/missing
/modules/dnstap/dnstap.pb-c.d
/pkg
/self.crt
/self.key
/stamp-h1
/tags
/tests/pytests/*/tcproxy
/tests/pytests/*/tlsproxy
/tests/pytests/pytests.parallel.html
/tests/test_array
/tests/test_lru
/tests/test_map
/tests/test_module
/tests/test_pack
/tests/test_set
/tests/test_utils
/tests/test_zonecut
/ylwrap
_obj
kresd.amalg.c
libkres.amalg.c
luacov.*.out
