[submodule "tests/integration/deckard"]
	path = tests/integration/deckard
	url = https://gitlab.nic.cz/knot/deckard.git
[submodule "modules/policy/lua-aho-corasick"]
	path = modules/policy/lua-aho-corasick
	url = https://gitlab.nic.cz/knot/3rdparty/lua-aho-corasick.git
[submodule "tests/config/tapered"]
	path = tests/config/tapered
	url = https://gitlab.nic.cz/knot/3rdparty/lua-tapered.git
[submodule "contrib/libmdbx"]
	path = subprojects/libmdbx
	url = https://github.com/erthink/libmdbx
