*.o
*.a
*.so
*.so.*
*.lo
*.la
*.in
*.Plo
*.swp
.libs
.deps
autom4te.cache/*
config.*
configure
ar-lib
Makefile
libtool
missing
compile
depcomp
install-sh
stamp-h1

# CMake files
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
