# SPDX-License-Identifier: GPL-3.0-or-later

language: c
os:
    - osx
osx_image: xcode10.2
addons:
    homebrew:
        packages:
            - cmocka
            - luajit
            - libuv
            - lmdb
            - meson
        update: true
compiler:
    - clang
notifications:
    email:
        on_success: never
        on_failure: never
matrix:
    fast_finish: true
env:
    global:
        - KNOT_DNS_VERSION=2.9
        - MALLOC_CHECK_=3
        - MALLOC_PERTURB_=223
before_script:
    - git clone -b ${KNOT_DNS_VERSION} https://gitlab.labs.nic.cz/knot/knot-dns.git
    - cd knot-dns
    - autoreconf -fi
    - ./configure --disable-static --disable-fastparser --disable-documentation --disable-daemon --disable-utilities --with-lmdb=no
    - make -j2 install
    - cd ..
script:
    - meson build_darwin --default-library=static --buildtype=debugoptimized --prefix=${HOME}/.local/usr -Dc_args='-fno-omit-frame-pointer'
    - ninja -C build_darwin -v install
    - meson test -C build_darwin --suite unit
    - ${HOME}/.local/usr/sbin/kresd -h
    - ${HOME}/.local/usr/sbin/kresd -V
    - echo "quit()" | ${HOME}/.local/usr/sbin/kresd -a 127.0.0.1@53535 .
sudo: false
