__pycache__/
.coverage
.mypy_cache/
.pytest_cache/
node_modules/
yarn.lock
package-lock.json
.pytype
dist/
.tox/
.vscode/
/pkg
.podman-cache/
docs/_build/*
*junit.xml
.build_kresd/
.install_kresd/
main
