*junit.xml
.build_kresd/
.coverage
.install_kresd/
.mypy_cache/
.podman-cache/
.pytest_cache/
.pytype
.tox/
.vscode/
/pkg
__pycache__/
build/
dist/
docs/_build/*
knot_resolver_manager.egg-info/
node_modules/
package-lock.json
poetry.lock
yarn.lock
