stages:
  - check

default:
  image: registry.nic.cz/knot/knot-resolver/ci/manager:knot-$KNOT_VERSION
  before_script:
    - cd manager
    - poetry env use $PYTHON_INTERPRETER
    - poetry install
  tags:
    - docker
    - linux
    - amd64

lint:py3.10:
  stage: check
  script:
    - poe check
  variables:
    PYTHON_INTERPRETER: python3.10


.unit: &unit
  stage: check
  script:
    - poe test
    # the following command makes sure that the source root of the coverage file is at $gitroot
    - poetry run bash -c "cd ..; coverage combine manager/.coverage; coverage xml"
  artifacts:
    reports:
      cobertura: coverage.xml
      junit: manager/unit.junit.xml
    paths:
      - manager/unit.junit.xml

unit:py3.6:
  <<: *unit
  variables:
    PYTHON_INTERPRETER: python3.6

unit:py3.7:
  <<: *unit
  variables:
    PYTHON_INTERPRETER: python3.7

unit:py3.8:
  <<: *unit
  variables:
    PYTHON_INTERPRETER: python3.8

unit:py3.9:
  <<: *unit
  variables:
    PYTHON_INTERPRETER: python3.9

unit:py3.10:
  <<: *unit
  variables:
    PYTHON_INTERPRETER: python3.10
