[Unit]
Description=Knot Resolver Manager
Requires=dbus.service
After=dbus.service

[Service]
Type=notify
ExecStart=python3 -m knot_resolver_manager --config=/etc/knot-resolver/config.yml
KillSignal=SIGINT
# See systemd.service(5) for explanation, why we should replace this with a blocking request
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target