{% macro quotes(string) -%}
'{{ string|string }}'
{%- endmacro %}


{% macro boolean(bool, negation=false) -%}
{%- if bool in [true, 1] -%}
{{ 'false' if negation else 'true' }}
{%- elif bool in [false, 0]-%}
{{ 'true' if negation else 'false' }}
{%- else -%}
{# raise some ERROR #}
{%- endif -%}
{%- endmacro %}


{# MODULES #}

{% macro modules_load(module_name) -%}
modules.load({{ quotes(module_name) }})
{%- endmacro %}


{% macro modules_unload(module_name) -%}
modules.unload({{ quotes(module_name) }})
{%- endmacro %}


{% macro module_loader(bool, module_name) -%}
{%- if bool is true -%}
{{ modules_load(module_name) }}
{%- elif bool is false -%}
{{ modules_load(module_name) }}
{{ modules_unload(module_name) }}
{%- else -%}
{# raise some ERROR #}
{%- endif -%}
{%- endmacro %}


{# TABLES #}

{% macro table_or_string(val) -%}
{%- if val is string -%}
{{ quotes(val) }}
{%- elif val is iterable -%}
{
{%- for item in val -%}
{{ quotes(item) }},
{%- endfor -%}
}
{%- else -%}
{# raise some ERROR #}
{%- endif -%}
{%- endmacro %}


{% macro table_or_str2ip(val) -%}
{%- if val is string -%}
kres.str2ip({{ quotes(val) }})
{%- elif val is iterable -%}
{
{%- for item in val -%}
kres.str2ip({{ quotes(item) }}),
{%- endfor -%}
}
{%- else -%}
{# raise some ERROR #}
{%- endif -%}
{%- endmacro %}


{% macro table_or_qtype(val) -%}
{%- if val is string -%}
kres.type.{{ val|string }}
{%- elif val is iterable -%}
{
{%- for item in val -%}
kres.type.{{ item|string }},
{%- endfor -%}
}
{%- else -%}
{# raise some ERROR #}
{%- endif -%}
{%- endmacro %}