-- SPDX-License-Identifier: GPL-3.0-or-later
-- Refer to manual: https://knot-resolver.readthedocs.io/en/stable/
-- Listen on localhost and external interface
net.listen('127.0.0.1', 5353)
net.listen('127.0.0.1', 8853, { tls = true })
net.ipv6=false

-- Auto-maintain root TA
trust_anchors.add_file('.local/etc/knot-resolver/root.keys')

cache.size = 1024 * MB

-- Load Useful modules
modules = {
	'workarounds < iterate',
	'policy',   -- Block queries to local zones/bad sites
	'view',     -- Views for certain clients
	'hints',    -- Load /etc/hosts and allow custom root hints
	'stats',    -- Track internal statistics
}

-- avoid TC flags returned to respdiff
local _, up_bs = net.bufsize()
net.bufsize(4096, up_bs)

set_log_level('debug')
