[Unit]
Description=Knot Resolver Manager
Requires=dbus
After=dbus

[Service]
WorkingDirectory=/code
ExecStart=/usr/bin/python3 -m knot_resolver_manager --config=/etc/knot-resolver/kres-manager.yaml /etc/knot-resolver/manager.sock
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target