modules = {
    'hints > iterate',   -- Load /etc/hosts and allow custom root hints",
    'stats',             -- Track internal statistics",
    'predict',           -- Prefetch expiring/frequent records",
{%- if cfg.dns64 %}
    dns64 = '{{ cfg.dns64.prefix }}', -- dns64
{%- endif %}
}

{%- if ( cfg.logging.level > 3 ) %}
-- logging level
verbose(true)
{%- endif %}

-- lua
{%- if cfg.lua.script %}
{{ cfg.lua.script }}
{%- endif %}