{# Test that all packages are installed #}
Tests: dependencies.py
Tests-Directory: tests/packaging/


{# Test that kresctl command exists and is in $PATH #}
Tests: kresctl.sh
Tests-Directory: tests/packaging


{# Test that knot-resolver command exists and is in $PATH #}
Tests: knot-resolver.sh
Tests-Directory: tests/packaging


{# Tests that the manager can be started with default config and it resolves some domains #}
Tests: systemd_service.sh
Tests-Directory: tests/packaging
Restrictions: needs-root
{% if distro.match('fedora') -%}
Depends: knot-utils, jq, curl, procps
{% elif distro.match('debian', 'ubuntu') -%}
Depends: knot-dnsutils, jq, curl, procps
{% elif distro.match('arch') -%}
Depends: knot, jq, curl
{% elif distro.match('rocky', 'centos') -%}
Depends: knot-utils, jq, curl
{% elif distro.match('almalinux') -%}
Depends: knot-utils, jq, curl-minimal, procps
{% elif distro.match('opensuse') -%}
Depends: knot-utils, jq, curl
{% else -%}
Depends: unsupported-distro-this-package-does-not-exist-and-the-test-should-fail
{%- endif %}


Tests: manpage.sh
Tests-Directory: tests/packaging
{% if distro.match('fedora', 'almalinux', 'rocky', 'opensuse') -%}
Depends: man
{%- endif %}
