{% from 'macros/forward_macros.lua.j2' import policy_rule_forward_add %}

{% if cfg.forward %}
{% for fwd in cfg.forward %}
{% for subtree in fwd.subtree %}
{{ policy_rule_forward_add(subtree,fwd.options,fwd.servers) }}
{% endfor %}
{% endfor %}
{% endif %}
