[Unit]
Description=Knot Resolver TLS network listener
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)
Before=sockets.target

[Socket]
FreeBind=true
BindIPv6Only=both
FileDescriptorName=tls
ListenStream=[::1]:853
ListenStream=127.0.0.1:853
Service=kresd@1.service
Slice=system-kresd.slice

[Install]
WantedBy=sockets.target
