[Unit]
Description=Knot DNS Resolver daemon
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)

[Service]
Type=notify
WorkingDirectory=/var/cache/knot-resolver
ExecStart=/usr/sbin/kresd --config=/etc/knot-resolver/kresd.conf
User=knot-resolver
Restart=on-failure
Sockets=kresd.socket
Sockets=kresd-tls.socket
Sockets=kresd-control@%i.socket

[Install]
WantedBy=kresd.target
