[Unit]
Description=Knot DNS Resolver TLS network listener
Documentation=man:kresd(8)
Before=sockets.target

[Socket]
ListenStream=853
FileDescriptorName=tls
Service=knot-resolver.service

[Install]
WantedBy=sockets.target
