[Unit]
Description=Knot DNS Resolver TLS network listener
Documentation=man:kresd(8)
Before=sockets.target
PartOf=kresd.socket

[Socket]
ListenStream=853
FileDescriptorName=tls
Service=kresd.service

[Install]
WantedBy=sockets.target
