[Unit]
Description=Knot DNS Resolver control socket
Documentation=man:kresd(8)
Before=sockets.target
PartOf=kresd@%i.service

[Socket]
Service=kresd@%i.service
ListenStream=/run/knot-resolver/control@%i
FileDescriptorName=control
SocketMode=0660
Slice=system-kresd.slice

[Install]
WantedBy=sockets.target
