[Unit]
Description=Knot DNS Resolver daemon
Documentation=man:kresd(8)

[Service]
Type=notify
WorkingDirectory=/run/knot-resolver/cache
EnvironmentFile=-/etc/default/kresd
ExecStart=/usr/sbin/kresd $KRESD_ARGS
User=knot-resolver
Restart=on-failure
# CAP_NET_BIND_SERVICE capability is needed for manual service activation
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=sockets.target
