[Unit]
Description=Knot Resolver web management and API socket
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)
Before=sockets.target

[Socket]
FreeBind=true
BindIPv6Only=both
FileDescriptorName=webmgmt
ListenStream=[::1]:8453
ListenStream=127.0.0.1:8453
Service=kresd@1.service
Slice=system-kresd.slice

[Install]
WantedBy=sockets.target
