[Unit]
Description=Knot DNS Resolver control socket
Documentation=man:kresd(8)
Before=sockets.target
PartOf=kresd.socket
Alias=knot-resolver-control.socket

[Socket]
ListenStream=/run/knot-resolver/control
FileDescriptorName=control
Service=kresd.service
SocketMode=0660

[Install]
WantedBy=sockets.target
