[Unit]
Description=Knot Resolver DNS-over-HTTPS socket
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)
Before=sockets.target

[Socket]
FreeBind=true
BindIPv6Only=both
FileDescriptorName=doh
ListenStream=[::1]:44353
ListenStream=127.0.0.1:44353
Service=kresd@1.service
Slice=system-kresd.slice

[Install]
WantedBy=sockets.target
