[Unit]
Description=Knot DNS Resolver daemon
Documentation=man:kresd(8)
## This is a socket-activated service:
RefuseManualStart=true

[Service]
Type=notify
WorkingDirectory=/run/knot-resolver/cache
ExecStart=/usr/sbin/kresd -c /etc/knot-resolver/kresd.conf -v -f 1 -k /usr/share/dns/root.key
User=knot-resolver
Restart=on-failure

[Install]
WantedBy=sockets.target
