[Unit]
Description=Knot Resolver network listeners
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)
Before=sockets.target

[Socket]
FreeBind=true
BindIPv6Only=both
ListenDatagram=[::1]:53
ListenStream=[::1]:53
ListenDatagram=127.0.0.1:53
ListenStream=127.0.0.1:53
Service=kresd@1.service
Slice=system-kresd.slice

[Install]
WantedBy=sockets.target
