# SPDX-License-Identifier: CC0-1.0
[Unit]
Description=Knot Resolver daemons
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)
After=network-online.target

[Install]
WantedBy=multi-user.target
