[Unit]
Description=Knot DNS Resolver TLS network listener
Documentation=man:kresd(8)
Before=sockets.target
PartOf=kresd@%i.service

[Socket]
Service=kresd@%i.service
ReusePort=true
FreeBind=true
FileDescriptorName=tls
ListenStream=[::1]:853
ListenStream=127.0.0.1:853

[Install]
WantedBy=sockets.target
