[Unit]
Description=Knot DNS Resolver network listeners
Documentation=man:kresd(8)
Before=sockets.target
PartOf=kresd@%i.service

[Socket]
ReusePort=true
FreeBind=true
ListenDatagram=[::1]:53
ListenStream=[::1]:53
ListenDatagram=127.0.0.1:53
ListenStream=127.0.0.1:53

[Install]
WantedBy=sockets.target
