[Unit]
Description=Knot DNS Resolver daemon
Documentation=man:kresd(8)
Wants=kresd@%i.socket
Wants=kresd-control@%i.socket
Wants=kresd-tls@%i.socket

[Service]
Type=notify
WorkingDirectory=/var/cache/knot-resolver
EnvironmentFile=-/etc/default/kresd
ExecStart=/usr/sbin/kresd $KRESD_ARGS
User=knot-resolver
Restart=on-failure
