[supervisord]
pidfile = {{ config.pid_file }}
directory = {{ workdir }}
nodaemon = false
logfile = {{ log_file }}
logfile_maxbytes = 50MB
{# user=root #}

[unix_http_server]
file = {{ config.unix_http_server }}

[supervisorctl]
serverurl = unix://{{ config.unix_http_server }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface




{% for instance in config.instances %}

[program:{{ instance.id }}]
redirect_stderr=false
stdout_logfile={{ log_dir / (instance.id + ".log") }}
stderr_logfile={{ log_dir / (instance.id + ".log") }}

{%- if instance.type.name == "KRESD" %}

directory={{ workdir }}
command={{ kresd_executable }} {{ kresd_args }}
environment=SYSTEMD_INSTANCE={{ instance.id }}
{%- elif instance.type.name == "GC" %}

directory={{ workdir }}
command={{ gc_executable}} {{ gc_args }}

{%- else %}

{# other subprocess types are not implemented, fail #}
{{ 0 / 0 }}

{% endif %}

{%- endfor -%}