[supervisord]
pidfile = {{ config.pid_file }}
directory = {{ config.workdir }}
nodaemon = false
logfile = {{ config.logfile }}
logfile_maxbytes = 50MB
{# user=root #}

[unix_http_server]
file = {{ config.unix_http_server }}

[supervisorctl]
serverurl = unix://{{ config.unix_http_server }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface




{% for instance in instances %}

[program:{{ instance.id }}]
type={{ instance.type }}
redirect_stderr=false
stdout_logfile={{ instance.logfile }}
stderr_logfile={{ instance.logfile }}
directory={{ instance.workdir }}
command={{ instance.command }}
environment={{ instance.environment }}

{%- endfor -%}