[supervisord]
pidfile = {{ config.pid_file }}
directory = /tmp
nodaemon = false
logfile = /tmp/supervisord.log
logfile_maxbytes = 50MB
user=root

[unix_http_server]
file = {{ config.unix_http_server }}

[supervisorctl]
serverurl = unix://{{ config.unix_http_server }}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

{% for id in config.instances -%}

[program:{{ id }}]
directory=/var/lib/knot-resolver
command=/usr/sbin/kresd -c /usr/lib/knot-resolver/distro-preconfig.lua -c /etc/knot-resolver/kresd.conf -n
environment=SYSTEMD_INSTANCE={{ id }}

{% endfor %}