{% from 'macros/common_macros.lua.j2' import boolean %}

{% if cfg.defer.enabled and not disable_defer -%}
assert(C.defer_init(
	'{{ cfg.rundir }}/defer',
	{{ cfg.defer.log_period.millis() }},
	{{ cfg.defer.hard_timeout.millis() }},
	{{ cfg.workers }}) == 0)
{% else %}
assert(C.defer_init(nil, 0, 0, 0) == 0)
{%- endif %}
