{% if cfg.prioritization.enabled and disable_prioritization is not defined %}
-- Enable and configure request prioritization (defer)
assert(
    C.defer_init(
        '{{ cfg.rundir }}/defer',
        {{ cfg.prioritization.logging_period.millis() }},
        {{ cfg.workers }}
    ) == 0
)
{% else %}
-- Disable request prioritization (defer)
assert(C.defer_init(nil, 0, 0) == 0)
{% endif %}
