Source: knot-resolver
Section: net
Priority: optional
Maintainer: Knot Resolver <knot-resolver@labs.nic.cz>
Uploaders:
 Tomas Krizek <tomas.krizek@nic.cz>
Build-Depends:
 debhelper (>= 9~),
 libcmocka-dev (>= 1.0.0),
 libedit-dev,
 libgnutls28-dev,
 libknot-dev (>= 2.8),
 liblmdb-dev,
 libluajit-5.1-dev,
 libnghttp2-dev,
 libsystemd-dev (>= 227) [linux-any],
 libcap-ng-dev,
 libuv1-dev,
 luajit,
 pkg-config,
 meson (>= 0.46),
 doxygen,
 python3-breathe,
 python3-sphinx,
 python3-sphinx-rtd-theme,
 libssl-dev,
Homepage: https://www.knot-resolver.cz/

Package: knot-resolver
Architecture: any
Depends:
 adduser,
 dns-root-data,
 systemd,
 ${misc:Depends},
 ${shlibs:Depends},
Replaces:
  libkres9 (<< 3.2.1-2),
Breaks:
  libkres9 (<< 3.2.1-2),
Recommends:
 lua-basexx,
 lua-cqueues,
 lua-http,
 lua-psl,
Suggests:
 knot-resolver-module-http,
Description: caching, DNSSEC-validating DNS resolver
 The Knot Resolver is a caching full resolver implementation
 written in C and LuaJIT, including both a resolver library and a
 daemon. Modular architecture of the library keeps the core tiny and
 efficient, and provides a state-machine like API for
 extensions. There are three built-in modules - iterator, cache,
 validator, and many external.
 .
 The Lua modules, switchable and shareable cache, and fast FFI
 bindings makes it great to tap into resolution process, or be used
 for your recursive DNS service. It's the OpenResty of DNS.
 .
 The server adopts a different scaling strategy than the rest of the
 DNS recursors - no threading, shared-nothing architecture (except
 MVCC cache that may be shared). You can start and stop additional
 nodes depending on the contention without downtime.

Package: knot-resolver-dbg
Architecture: any
Depends: knot-resolver (= ${binary:Version}),
         ${misc:Depends}
Recommends: gdb
Section: debug
Priority: extra
Description: Debug symbols for Knot Resolver
 This package provides the debug symbols for Knot Resolver needed
 for properly debugging errors in Knot Resolver with gdb.

Package: knot-resolver-module-http
Architecture: all
Depends:
 knot-resolver (= ${binary:Version}),
 libjs-bootstrap,
 libjs-d3,
 libjs-jquery,
 lua-cqueues (>= 20171014),
 lua-http,
 lua-mmdb,
 systemd,
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 knot-resolver-module-tinyweb (<< 1.1.0~git20160713-1~),
Description: HTTP module for Knot Resolver
 The Knot Resolver is a caching full resolver implementation
 written in C and LuaJIT, including both a resolver library and a
 daemon. Modular architecture of the library keeps the core tiny and
 efficient, and provides a state-machine like API for
 extensions. There are three built-in modules - iterator, cache,
 validator, and many external.
 .
 This package contains HTTP/2 module for local visualization of the
 resolver cache and queries.

Package: knot-resolver-doc
Architecture: all
Section: doc
Depends:
 libjs-jquery,
 libjs-underscore,
 ${misc:Depends},
Description: Documentation for Knot Resolver
 The Knot Resolver is a caching full resolver implementation
 written in C and LuaJIT, including both a resolver library and a
 daemon. Modular architecture of the library keeps the core tiny and
 efficient, and provides a state-machine like API for
 extensions. There are three built-in modules - iterator, cache,
 validator, and many external.
 .
 This package contains Knot Resolver Documentation.
