{% if not cfg.lua.script_only %}

-- SERVER section
-- server.hostname
hostname('{{ cfg.server.hostname }}')

{% if cfg.server.nsid %}
-- server.nsid
modules.load('nsid')
nsid.name('{{ cfg.server.nsid }} ' .. worker.id)
{% endif %}

-- NETWORK section
-- network.interfaces
{% for item in cfg.network.interfaces %}
net.listen('{{ item.address }}', {{ item.port }}, {
    kind = '{{ item.kind if item.kind != 'dot' else 'tls' }}',
    freebind = {{ 'true' if item.freebind else 'false'}}
})
{% endfor %}

-- MODULES
modules = {
    {{ "dns64 = '"+cfg.dns64.prefix+"'," if cfg.dns64 }}
}

{% endif %}
-- LUA section
{% if cfg.lua.script_file %}
{% import cfg.lua.script_file as script_file %}
-- lua.script-file
{{ script_file }}
{% endif %}

{% if cfg.lua.script %}
-- lua.script
{{ cfg.lua.script }}
{% endif %}
