[Unit]
Description=Knot DNS Resolver daemon
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/kresd
ExecStart=/usr/sbin/kresd -c /etc/kresd/config -f $KRESD_WORKERS $KRESD_OPTIONS /var/lib/kresd/
Restart=on-abort

[Install]
WantedBy=multi-user.target
