/* SPDX-License-Identifier: GPL-3.0-or-later */

.wy-side-nav-search {
    background-color: #00a2e2; /* From logo manual */
}
.wy-side-nav-search input[type=text] {
    border-color: #45bfff;
}
.wy-side-nav-search div.version {
    color: hsla(0,0%,100%,0.4);
}
.wy-nav-top {
    background-color: #00a2e2;
}

.wy-nav-content-wrap a {
    color: #00619c;
}
.wy-nav-content-wrap a:hover {
    color: #00a2e2;
}
.wy-nav-content-wrap a:visited {
    color: #00619c;
}
.wy-nav-content-wrap a:visited:hover {
    color: #00a2e2;
}

.wy-menu-vertical p.caption {
    color: #00a2e2;
}
